<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Angular the complete guide</h1>
            <hr>
            <app-assignment-three></app-assignment-three>
            <!-- <app-assignment-two></app-assignment-two> -->
            <!-- <app-servers></app-servers> -->
            <!-- <div class="app-servers"></div> -->
            <!-- <div app-servers></div> -->
            <!-- <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert> -->
        </div>
    </div>
</div>
